# Binaries
*.exe
*.pdb

# C build artifacts
*.o                 # object files
*.obj               # Windows object files
*.out               # generic executables

# Rust
target/

# Zig
.zig-cache/
.zig-out/
